*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #000;
}

.logo-star{
	height: auto;
	width: 300px;
	text-align: center;
}

#title-text{
	color: #fff;
}

.content {
	max-width: 800px;
}

.characters img {
	width: 100%;
	margin: 10px;
	cursor: pointer;
}